@font-face {
    font-family: kaftus;
    src: url(fonts/Kaftus.ttf);
}

@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    right: 45.5%;
    font-family: kaftus;
    font-size: 1.5rem;
}

.header {
    color: #04364A;
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    align-items: center;
    z-index: 100;
    font-family: poppins;
    font-weight: 600;
    font-size: 1rem;
}

.header-elements-left {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 4rem;
    padding: 0 4rem;
    height: 10vh;
}

.header-elements-right {
    height: 10vh;
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}

h1,
h2 {
    padding: 0;
    margin: 0;
}

.first-page {
    width: 100%;
    height: 100vh;
    background-color: #AAD9BB;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: kaftus;
    flex-direction: row;
    color: #04364A;
}

.first-page-left {
    display: flex;
    position: relative;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

.first-page-left-font {
    font-size: 3rem;
}

.first-page-right {
    display: flex;
    position: relative;
    width: 50vw;
    height: 100vh;
}

.first-left-button {
    width: 10vw;
    height: 5vh;
    background-color: #04364A;
    border-radius: 20px;
    cursor: pointer;
    color: #ECF4D6;
    transform: translateX(-50%);
    font-family: poppins;
    font-weight: 600;
}

.first-left-button:hover {
    background-color: #104f64;
    color: #ECF4D6;
    font-family: poppins;
    font-weight: 600;
    cursor: pointer;
}

.second-page {
    width: 100%;
    height: 100vh;
    background-color: #ECF4D6;
    display: flex;
    position: relative;
    justify-content: center;
}

.second-page-heading {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.second-page-heading-title {
    display: flex;
    position: relative;
    height: fit-content;
    margin-top: 4rem;
    font-family: kaftus;
    color: #04364A;
    font-size: 2.2rem;
}


.second-page-heading-subtitle {
    height: fit-content;
    display: flex;
    position: relative;
    font-family: poppins;
    font-size: 1rem;
    font-weight: 600;
    color: #04364A;
    transform: translate(40%, -40%);
}

.display {
    width: 100%;
    height: 50vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 3rem;
    transform: translateY(20%);
}

.img1 {
    width: 15vw;
    height: 50vh;
    filter: grayscale(100%);
    transition: filter 0.1s ease;
}

.img1:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    cursor: pointer;
}

.img2 {
    width: 12vw;
    height: 50vh;
    transform: translateY(5%);
    filter: grayscale(100%);
    transition: filter 0.1s ease;
}

.img2:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    cursor: pointer;
}

.img3 {
    width: 17vw;
    height: 50vh;
    filter: grayscale(100%);
    transition: filter 0.1s ease;
}

.img3:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    cursor: pointer;
}

.img4 {
    width: 15vw;
    height: 50vh;
    filter: grayscale(100%);
    transition: filter 0.1s ease;
}

.img4:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    cursor: pointer;
}

.img5 {
    width: 20vw;
    height: 35vh;
    filter: grayscale(100%);
    transition: filter 0.1s ease;
}

.img5:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    cursor: pointer;
}

.second-page-button {
    width: 10vw;
    height: 5vh;
    font-family: poppins;
    font-weight: 600;
    color: #04364A;
    background-color: #ECF4D6;
    border: none;
    bottom: 2rem;
    position: absolute;
    right: 2rem;
    font-size: 1.1rem;
}

.second-page-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.third-page {
    width: 100%;
    height: 100vh;
    background-color: #FDF7E4;
    position: relative;
    display: flex;
}

.talakadu {
    position: absolute;
    display: flex;
    height: 100%;
    width: 40rem;
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
}

.about-title {
    color: #04364A;
    font-family: kaftus;
    position: absolute;
    display: flex;
    font-size: 4rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    left: 41rem;
    top: 11.5rem;
}

.about-paragh{
    position: absolute;
    display: flex;
    width: 45.5vw;
    height: fit-content;
    text-align: justify;
    bottom: 5rem;
    right: 3.5rem;
    font-family: poppins;
    color: #04364A;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.2rem;
}

.collage{
    display: flex;
    position: absolute;
    flex-direction: row;
    column-gap: 1rem;
    height: 32vh;
    width: fit-content;
    top: 7rem;
    right: 3.5rem;
}

a{
    text-decoration: none;
    color: inherit;
}