<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/items.css">
    <title>Document</title>
</head>
<body class="body-check">
    <div class="form-container">
        <h2>Order Form</h2>
        <form action="/submit-form" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required min="666666666" max="9999999999"><br><br>

            <label for="address">Delivery Address:</label><br>
            <textarea id="address" name="address" rows="4" cols="50" required></textarea><br><br>

            <a href="/thanks"><input type="submit" value="Submit"></a>
        </form>
    </div>
</body>
</html>