<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/items.css">
    <title>Order Placed Successfully</title>
</head>
<body>
    <div class="header">
        <div class="header-elements-left">
        </div>
        <div class="logo">Varchasvi</div>
        <div class="header-elements-right">
            <div class="icon"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></div>
        </div>
    </div>

    <div class="container">
        <h2>Order Placed Successfully🎉</h2>
        <button class="home-button"><a href="/">Home</a></button>
    </div>
</body>
</html>
